<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EditBook</title>
  <link rel="stylesheet" th:href="@{/css/admin.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="addBook_container">
  <h2>THÔNG TIN SÁCH</h2>
  <form th:object="${sach}" th:action="@{/updateBook}" method="POST">
    <div class="mb-3">
      <label class="form-label">Mã sách:</label>
      <input type="text" class="form-control" th:field="*{ma_sach}" readonly/>
    </div>
    <div class="mb-3">
      <label class="form-label">Mã loại:</label>
      <input type="text" class="form-control" th:field="*{ma_loai}" readonly/>
    </div>
    <div class="mb-3">
      <label class="form-label">Mã nhà cung cấp:</label>
      <input type="text" class="form-control" th:field="*{ma_ncc}" readonly/>
    </div>
    <div class="mb-3">
      <label class="form-label">Tên sách:</label>
      <input type="text" class="form-control" th:field="*{ten_sach}" readonly/>
    </div>
    <div class="mb-3">
      <label class="form-label">Tác giả:</label>
      <input type="text" class="form-control" th:field="*{tac_gia}" readonly/>
    </div>
    <div class="mb-3">
      <label class="form-label">Mô tả(Có thể chỉnh sửa):</label>
      <textarea class="form-control" th:field="*{mo_ta}" rows="4" required></textarea>
    </div>
    <div class="mb-3">
      <label class="form-label">Nhà xuất bản:</label>
      <input type="text" class="form-control" th:field="*{NXB}" readonly/>
    </div>
    <div class="mb-3">
      <label class="form-label">Ngày xuất bản:</label>
      <input type="date" class="form-control" th:field="*{ngay_xuat_ban}" readonly/>
    </div>
    <div class="mb-3">
      <label class="form-label">Hình hiện tại:</label>
      <img th:src="@{'/imgs/' + *{hinh}}" style="width: 100px; height: 100px;">
    </div>
    <div class="mb-3">
      <label class="form-label">Hình mới:</label>
      <input type="file" class="form-control" th:field="*{hinh}" accept="image/*"/>
    </div>
    <div style="width: 100%; display: inline-flex; flex-direction: row-reverse; gap: 15px;">
      <input type="submit" class="btn btn-primary" value="Cập nhật" onclick="return confirm('Vui lòng xác nhận thao tác trước khi cập nhật.')"/>
      <input type="button" class="btn btn-secondary" value="Hủy" onclick="window.location.href='/QLSach'"/>
    </div>
  </form>
</div>
</body>
</html>