<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phiếu mượn</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <title>Quản lý mượn trả</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="notification"></div>
<div class="sach_view">
    <h1>QUẢN LÝ MƯỢN TRẢ SÁCH</h1>

    <p>Tìm kiếm : </p>
    <form class="searchForm" th:action="@{/QLPhieuMuon/searchPm}" method="post">

        <select name="searchBy" id="searchBy">
            <option th:value="all">Tất cả</option>
            <option th:value="ma_phieu">Mã phiếu</option>
            <option th:value="ma_sach">Mã sách</option>
            <option th:value="ma_taikhoan">Mã tài khoản</option>
            <option th:value="ten_nv">Tên nhân viên</option>
            <option th:value="ngay_muon">Ngày mượn</option>
            <option th:value="ngay_tra">Ngày trả</option>
            <option th:value="ngay_han">Ngày hạn</option>
        </select>

        <div>
            <input type="text" placeholder="Tìm kiếm ở đây.." name="searchText" id="searchText">
            Từ ngày: <input type="date" name="fromDate">
            Đến ngày: <input type="date" name="toDate">
            <br>
                <input type="radio" name="status" value="1">Đang chờ xử lý
                <input type="radio" name="status" value="2">Đang mượn
                <input type="radio" name="status" value="3">Đã trả
                <input type="radio" name="status" value="4">Vi phạm

        </div>
        <input type="submit" value="Search">
    </form>
    <br>

    <table class="table table-bordered table-striped table-striped-custom">
        <thead class="table-dark">
        <tr>
            <th>Mã phiếu mượn</th>
            <th>Mã tài khoản</th>
            <th>Mã sách</th>
            <th>Tên nhân viên</th>
            <th>Ngày mượn
                <a th:href="@{/QLPhieuMuon/sort(sortField='ngay_muon', sortDir=${sortField == 'ngay_muon' && sortDir == 'asc' ? 'desc' : 'asc'})}">
                    <img th:src="@{${sortField == 'ngay_muon' ? (sortDir == 'asc' ? '/imgs/mui1.png' : '/imgs/mui2.png') : '/imgs/mui2.png'}}" style="width: 20px; height: 20px;">
                </a>
            </th>
            <th>Ngày trả
                <a th:href="@{/QLPhieuMuon/sort(sortField='ngay_tra', sortDir=${sortField == 'ngay_tra' && sortDir == 'asc' ? 'desc' : 'asc'})}">
                    <img th:src="@{${sortField == 'ngay_tra' ? (sortDir == 'asc' ? '/imgs/mui1.png' : '/imgs/mui2.png') : '/imgs/mui2.png'}}" style="width: 20px; height: 20px;">
                </a>
            </th>
            <th>Ngày hạn
                <a th:href="@{/QLPhieuMuon/sort(sortField='ngay_han', sortDir=${sortField == 'ngay_han' && sortDir == 'asc' ? 'desc' : 'asc'})}">
                    <img th:src="@{${sortField == 'ngay_han' ? (sortDir == 'asc' ? '/imgs/mui1.png' : '/imgs/mui2.png') : '/imgs/mui2.png'}}" style="width: 20px; height: 20px;">
                </a>
            </th>
            <th>Trạng thái</th>
            <th>Chức năng</th>

        </tr>
        </thead>
        <tr th:each ="row : ${data}">
            <td th:utext="${row.ma_phieumuon}">...</td>
            <td th:utext="${row.ma_taikhoan}">...</td>
            <td th:utext="${row.ma_sach}">...</td>
            <td th:utext="${row.ten_nv}">...</td>
            <td th:utext="${row.ngay_muon}">...</td>
            <td th:utext="${row.ngay_tra}">...</td>
            <td th:utext="${row.ngay_han}">...</td>
            <td th:if="${row.trang_thai == 1}" th:utext="'Đang chờ xử lý'"></td>
            <td th:if="${row.trang_thai == 2 || row.trang_thai==8}" th:utext="'Đang mượn'"></td>
            <td th:if="${row.trang_thai == 3}" th:utext="'Đã trả'"></td>
            <td th:if="${row.trang_thai == 4
                        || row.trang_thai==5
                        ||row.trang_thai==6
                        || row.trang_thai==7}"
                            th:utext="'Vi phạm'"></td>

            <td>
                <div class="btn-group d-flex justify-content-center">
                    <a class="btn btn-success btn-sm"
                       th:if="${row.trang_thai == 1}"
                       th:href="'/QLPhieuMuon/duyet/'+ ${row.ma_phieumuon}">Duyệt</a>
                    <a class="btn btn-primary btn-sm"
                       th:if="${row.trang_thai == 2 || row.trang_thai==8}"
                       th:href="'/QLPhieuMuon/edit/'+ ${rowStat.index}">Sửa</a>

                    <div th:if="${row.trang_thai !=1 and row.trang_thai!=2 and row.trang_thai!=8}">Đã xử lý</div>
                </div>
            </td>

        </tr>
    </table>
</div>
<script>

    $(document).ready(function() {
        var Message = "[[${message}]]".trim();
        var type = "[[${type}]]".trim();

        if (Message) {
            showNotification(Message, type);
        }
    });

    function showNotification(message, type) {
        var notification = $('#notification');
        if (type === 'error') {
            notification.css('background-color', 'red');
        } else {
            notification.css('background-color', '#4CAF50');
        }
        notification.text(message);
        notification.fadeIn();
        setTimeout(function() {
            notification.fadeOut();
        }, 2000);
    }
</script>
</body>
</html>